<div class="menu">
    <div class="logo">
        <img src="./assets/logo/logo.png">
    </div>
    <div class="nav">
        <ul>
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="catalogo">Catalogo</a></li>
            <li><a routerLink="destinazioni">Destinazioni</a></li>
            <li><a routerLink="contatti">COntatti</a></li>
        </ul>
    </div>
    <div class="login">
        <button type="button" routerLink="login">Login</button>
        <button type="button" routerLink="loginAdmin">Area Riservata</button>
    </div>
</div>
