<div class="form">
    <form #aggiuntaPacchetti="ngForm" (ngSubmit)="addPacchetto()">
        <label>Nome Pacchetto</label>
        <input type="text" name="nome" [(ngModel)]="nome"required>
        <label>Descrizione minima</label>
        <input type="text" name="descrizione" [(ngModel)]="descrizione" required>
        <label for="mete">Meta</label>
        <input type="text" name="meta" id="meta" [(ngModel)]="meta">
        <label>Costo</label>
        <input type="number" name="costo" [(ngModel)]="costo" required>
        <label>Disponibilità</label>
        <input type="number" name="disponibilita" [(ngModel)]="disponibilita" required>
        <label for="ass">Assicurazione</label>
        <input type="checkbox" name="assicurazione" id="ass" [(ngModel)]="assicurazione" required>
        <label for="pass">Passaporto</label>
        <input type="checkbox" name="passaporto" id="pass" [(ngModel)]="passaporto" required>
        <label for="vac">Vaccino</label>
        <input type="checkbox" name="vaccino" id="vac" [(ngModel)]="vaccino" required>
        <label>Giorno Partenza</label>
        <input type="date" name="giornoPartenza" [(ngModel)]="giornoPartenza" required>
        <label>Giorno Ritorno</label>
        <input type="date" name="giornoRitorno" [(ngModel)]="giornoRitorno" required>
        <label>Immagine</label>
        <input type="text" name="img" [(ngModel)]="img">
        <button type="submit">Aggiungi</button>
    </form>
</div>
